## Working with Different Data Types (1)

Let's observe the **data types** of expressions involving operands of the **same data types**.

In [1]:
print(type(78 + 59))

<class 'int'>

In [2]:
print(type(72 + 92 * 12))

<class 'int'>

In [3]:
print(type(15.8 - 12.7))

<class 'float'>

In [5]:
print(type(1j + 8j))

<class 'complex'>

We can see that binary Arithmetic operators with *both operands being of similar data types* result in
values with the *same data types of the operands*.|

Except for the division operator.

In [6]:
print(type(2 / 2))

<class 'float'>

We can see that whether the operands were either `int` or `float`, the results were always `float`. This
makes sense since the result of a division can have â€˜decimal points*.

Now, let's try dividing complex numbers.

In [3]:
cl = 4445
c2 = 2425
print(cl / c2)
print(type(cl / c2))

1.8329896907216494
<class 'float'>

This, again, made sense since a division of two complex numbers can result in another complex number.

## Working with Different Data Types (2)

### Polymorphic Operators

### Arithmetic Addition & String Concatenation

The `+` symbol performs *Arithmetic Addition* when both operands are *numbers*.

In [5]:
print(2 + 2)
print(2.0 + 3.5 + 4.3)

4
9.8

The `+` symbol performs *String Concatenation* when both operands are `str`.

In [7]:
s = "1" + "2" + "3"
print(s)

123

Mixing `str` and *numbers* as operands of `+` results in an **error** since the operator *does not
support* such a data type combination.

In [8]:
x= 32
print("The number is " + x)

TypeError: can only concatenate str (not "int") to str

### Arithmetic Multiplication & String Multiplication

The `*` symbol performs *Arithmetic Multiplication* when both operands are *numbers*.

In [9]:
print(2 * -0.5)
print(10 * 10 * 10)

-1.0
1000

The `*` symbol performs *String Multiplication* when one operand is `str` while the other is `int`.

In [11]:
print("(*__*)" * 3)
print(10 * "(* __*)")

(*__*)(*__*)(*__*)
(* __*)(* __*)(* __*)(* __*)(* __*)(* __*)(* __*)(* __*)(* __*)(* __*)

In *String Multiplication*, the number **must** be `int` only.

## Working with Different Data Types (3)

## Implicit Data Type Conversion

- Occurs *automatically*
- **Implicit Data Type Conversion** always promote data type capable of holding *less information* to data type capable of holding *more information*.

In [12]:
print(type(32 * 5.0))

<class 'float'>

In the above statement, the ~int~ value of 32 was **converted** to ~float> and then **multiplied** with
5.0.

In [13]:
print(type(5 * (3 + 23)))
print(type((1 + 1j) + -0.5))

<class 'int'>
<class 'complex'>

In the code above, both `int` and `float` were **converted** to `complex` before being used as operands
in their respective statements.

## Working with Different Data Types (4)

## Explicit Data Type Conversion

We use *typecasting functions* to convert data to the desired data types.

Typecasting functions include (but not limited to):
- `int()`
- `float()`
- `complex()`
- `str()`
- `bool()`

### An example situation in which explicit data type conversion is needed.

In [17]:
# This program calculates n*10, where n is a number entered by the user.
n = input("Please enter n:")
result = float(n) ** 10
# Show the output as n = [the input] --> n*10 = [the result]
print("n = "+n +" --> n*10 = " + str(result))

Please enter n:2
n = 2 --> n*10 = 1024.0

## `int()`

In [21]:
print(int(1.8))
# print (int(2+2j))
print(int("12"))
# print (int("12.5"))
# print (int("Hello"))
print (int (True) )
print (int(False))

1
12
1
0

## `float()`

In [23]:
print (float(1))
# print (float (2+2j))
print (float("12"))
print (float("12.5"))
print (float (True) )
print (float (False) )

1.0
12.0
12.5
1.0
0.0

## `complex()`

In [24]:
print (complex(1))
print (complex(1.8))
print (complex("12"))
print (complex("12.5"))
print (complex (True) )
print (complex(False))

(1+0j)
(1.8+0j)
(12+0j)
(12.5+0j)
(1+0j)
0j

To create a new complex number with `complex()`, we can use `complex(re,im)` (called a *constructor
function*).

In [25]:
print (complex(1,1))
print (complex(1.5,-1.0))
print (complex(1,0))
print (complex(0,1))

(1+1j)
(1.5-1j)
(1+0j)
1j

## `str()`

In [26]:
print (str(1))
print(str(1.8))
print (str(2+2j))
print (str(True))
print (str(False))

1
1.8
(2+2j)
True
False

## `bool()`

In [29]:
print (bool(1))
print (bool(1.8))
print (bool(2+23))
print (bool("12"))
print (bool("12.5"))
print (bool("HELLO") )
print("-"*10)
print (bool(0))
print (bool(0.0))
print (bool (0+0j))
print(bool(""))
print("-"*10)
print (bool("False"))

True
True
True
True
True
True
----------
False
False
False
False
----------
True

In [35]:
print( 1 + 2 )
print(" 1 + 2 ")
#print(" 1 " + 2 ) Error
print(" 1 " + " + " + ' 2 ')

3
 1 + 2
 1  +  2