In [4]:
s = 'build' # >> 'built'
s[-1] = 't'

TypeError: 'str' object does not support item assignment

In [5]:
s = s[:-1] + 't' #re assignment ด้วย
print(s)

built

### TUPLE

Tuples stores multiple items in a single variable, similar to Lists. The difference is that tuples are immutable.

Creating Tuples

- Tuples can be created using round brackets (parentheses) `( )`

![tuple](https://pythonexamples.org/images/python-tuple-access.svg)

In [6]:
# Create a tuple using a parenthesis.

position = (100, 50)
type(position)

tuple

In [7]:
len(position)

2

- Tuples can be create using tuple() function.

In [8]:
# The tuple() function creates a tuple object.
# Parameter = iterable object (optional).

t = tuple([1,2,3])

In [9]:
print(t)

(1, 2, 3)

In [10]:
t = tuple('abc')
print(t)

('a', 'b', 'c')

In [11]:
t = tuple((1,2,3))
print (t)

(1, 2, 3)

- Can tuple be empty ?

In [12]:
t1 = ()
t2 = tuple()
print(t1, type(t1))
print(t2, type(t2))

() <class 'tuple'>
() <class 'tuple'>

- Create a tuple with one item.

In [13]:
t1 = (1)

In [14]:
print(type(t1))

<class 'int'>

In [15]:
t1 = (1,)
print(t1 , type(t1))

(1,) <class 'tuple'>

In [16]:
t2 = tuple(1)

TypeError: 'int' object is not iterable

In [17]:
tuple = ([1])
print(type(t2))

<class 'tuple'>

## Items in a tuple can be same or different data types. (Heterogenous)

In [18]:
days = ('Sun','Mon','Tue','Wed','Thu','Fri', 'Sat') 

book_info = ('Python Basics', 39.99, 2021, ('D.Amos','D.Bader','J.Jablonski', 'F.Heisler'))
print(book_info)

('Python Basics', 39.99, 2021, ('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler'))

In [19]:
print(book_info[0])

Python Basics

In [20]:
print(book_info[-1])

('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler')

## Slicing

- We can also use slicing to access a range of items by defining the start , stop, an step parameters.

In [21]:
print (book_info[:3])

('Python Basics', 39.99, 2021)

## Unpacking tuples

- We can extract the values of tuple's items assigning to variables.

In [22]:
title, price, year = book_info[:-1]

In [23]:
print(title)

Python Basics

In [24]:
print(price)

39.99

In [25]:
print(year)

2021

## Tuple are "immutable"; can not be modified.

In [26]:
position = (100 , 50)
x , y = position

In [27]:
position[0] = 120

TypeError: 'tuple' object does not support item assignment

In [28]:
position = (120,50)
print (position)

(120, 50)

In [29]:
# Combining tuples using operator '+'

pos = (1,2,3)
position += pos

In [30]:
print(position)

(120, 50, 1, 2, 3)

In [31]:
# id() function returns the identity of the object.
# Parameter = an object

t1 = (1,2,3)
print(id(t1), t1)

2181090632768 (1, 2, 3)

In [32]:
t2 = (40,50)
print(id(t2), t2)

2181084671744 (40, 50)

In [33]:
t1 += t2
print(id(t1), t1)

2181084656752 (1, 2, 3, 40, 50)

- To delete item(s) from a list.
	- can not delete item(s) in the tuple
	- del deletes the whole tuple object.

In [34]:
del position

In [35]:
print(position)

NameError: name 'position' is not defined

## Tuple are "iterable" objects.

- we can iterate through tuples.

In [36]:
planets = ('Mercury','Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')

In [37]:
# use for loop
for i in planets:
	print (i)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [38]:
# use for loop
for i in planets:
	print (i)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [39]:
# loop through the index number
for i in range(len(planets)):
	print(planets[i])

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [40]:
# loop using enumerate()
for i,v in enumerate(planets):
	print(i, v)

0 Mercury
1 Venus
2 Earth
3 Mars
4 Jupiter
5 Saturn
6 Uranus
7 Neptune

In [41]:
# use list comprehension
[print(x) for x in planets]

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

[None, None, None, None, None, None, None, None]

## Cloning or copying a tuple

In [42]:
t = (1,2,3)

In [43]:
#use '=' assigment statement
a=t
print(a)

(1, 2, 3)

In [44]:
# use slicing
b = t[:]
print(b)

(1, 2, 3)

In [45]:
# use 'tuple()' function
c = tuple(t)
print(c)

TypeError: 'list' object is not callable

In [46]:
# use ‘copy()' method
d = t.copy()
print(d)

AttributeError: 'tuple' object has no attribute 'copy'

## Tuple's methods

In [47]:
# index() searches the tuple for a specified value and returns the index.

planets.index('Earth') # return the index of the first occurrence

2

In [48]:
planets.index('Earth', 0, 3)

2

In [49]:
planets.index('Earth', 3)

ValueError: tuple.index(x): x not in tuple

In [51]:
if 'Earth' in planets[3:]:
   	print(planets.index('Earth', 3) )
else:
	print('Not Found')

Not Found

In [52]:
print(planets.count('Earth'))

1

In [53]:
print(planets.count('Moon'))

0

In [54]:
print('Moon' in planets)

False

In [55]:
print('Venus' in planets)

True