## DICTIONARY

- Dictionaries are **mapping** data type in Python, storing data in a collection of **key:value** pairs.

In [1]:
# book_info using Tuple
book_info = ('Python Basics', 39.99, 2021, ('D.Amos', 'D.Bader','J.Jablonski','F.Heisler'))

In [2]:
print(book_info)

('Python Basics', 39.99, 2021, ('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler'))

### Creating Dictionary

- Dictionaries can be created using curly brackets (braces) { }.
- Each item is separated by , ;
- Anitem has a **key** and a corresponding **value** (key:value pai).

		d ={<key>: <value>,
		       <key>: <value>,
        		.
       	 	.
			<key>: <value>
			}

In [15]:
# Create a dictionary using curly brackets.

dbook_info = {'title' : 'Python Basics',
              'price': 39.99,
              'year' : 2021,
              'authors':('D.Amos','D.Bader','J.Jablonski','F.Heisler')}

In [5]:
print(dbook_info)

{'title': 'Python Basics', 'price': 39.99, 'year': 2021, 'authors': ('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler')}

![Figure: Dict structure.](https://sv1.picz.in.th/images/2023/05/21/FgUput.png)
Ref: <http://pythontutor.com/visualize. html>

- Dictionaries can be created using “dict()~ function.

```
		d= dict([ (<key>, <value>),
				  (<key>, <value),
                 	 .
                 	 .
				  (<key>, <value>))
                ])
```

In [1]:
c = [('name', 'Somsri Jaidee'), ('tel', '02-222-1222')]

In [2]:
customer = dict(c)
print (customer)
print (type(customer))

{'name': 'Somsri Jaidee', 'tel': '02-222-1222'}
<class 'dict'>

- If the key values are strings, they can be specified as keyword arguments.

In [3]:
customer = dict(name = 'Somsri Jaidee', tel = '02-222-1222' )
print (type(customer) )
print (customer)

<class 'dict'>
{'name': 'Somsri Jaidee', 'tel': '02-222-1222'}

In [4]:
# Creating an empty Dict

d = {}
print(d)
print(type(d))

{}
<class 'dict'>

- Keys must be **immutable** type, e.g., int, float, string, tuple, and **unique**.
- Values can be any data type (**Heterogeous**) and allowed to be **duplicated**.

In [5]:
# key can be 'int'

d = {1: 'a', 2: 'b'}

In [6]:
print(d)

{1: 'a', 2: 'b'}

In [10]:
# key can be 'float'

d = {1.0: 'a' , 2.0: 'b'}

In [11]:
# key can be ‘tuple’

d= {(1,1):10, (1,2):20}

In [12]:
# key can be mixed
 
d = {1:[1,2,3],
       'name':'Sara'}

In [13]:
d = {[1,1]:10, [1,2]:20} # Mutable object can not be "key" in dictionary

TypeError: unhashable type: 'list'

## Accessing Dictionary

1. An item's value in Dictionary can be referred to using the `key` name in a square bracket `[ ]`.
2. Using get`()` method.

In [16]:
print(dbook_info)

{'title': 'Python Basics', 'price': 39.99, 'year': 2021, 'authors': ('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler')}

In [19]:
print(dbook_info['authors'])

('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler')

In [20]:
# using get() method

dbook_info.get('title')

'Python Basics'

- Incase of `[ ]`, KeyError is raised if the key is not found in the dictionary; meanwhile, the get `()` method will return None .

In [21]:
print (dbook_info.get('name'))

None

## Adding & Updating Dictionary

- 1. Adding one value at atime: Dict[<Key>] = <Value>.    
- 2. Updating can be done using the built-in update() method.

Note that if the key value already exists, the value gets **updated**; otherwise, anew <Key> with the <value> is **added** to the Dictionary.

In [22]:
customer = dict(name = 'Somsri Jaidee', tel = '02-111-2222')

In [23]:
customer['tel'] = '02-218-9999'

In [26]:
print(customer)

{'name': 'Somsri Jaidee', 'tel': '02-218-9999'}

In [27]:
customer['DOB'] = '01-07-1990'

In [28]:
print(customer)

{'name': 'Somsri Jaidee', 'tel': '02-218-9999', 'DOB': '01-07-1990'}

In [29]:
# update() method
# Parameter: a dictionary, or an iterable object with key:value pairs.

customer.update({'address': 'Bangkok'})
print (customer)

{'name': 'Somsri Jaidee', 'tel': '02-218-9999', 'DOB': '01-07-1990', 'address': 'Bangkok'}

In [30]:
customer.update({'address': 'Phuket'})
print (customer)

{'name': 'Somsri Jaidee', 'tel': '02-218-9999', 'DOB': '01-07-1990', 'address': 'Phuket'}

## Deleting Dictionary

1. del keyword deletes the **item** with the specified **key** name.
   del Dict will delete the entire dictionary;

2. `pop()` method deletes the **item** with the specified **key** name, and return the **value**.
3. `popitem()` method deletes the **last_item** `(key, value)` pair from the dictionary.
4. `clear()` method deletes all the items from the dictionary.

In [31]:
# Using del keyword to delete the item with the specified key name.

print (customer)
del customer ['address']
print (customer)

{'name': 'Somsri Jaidee', 'tel': '02-218-9999', 'DOB': '01-07-1990', 'address': 'Phuket'}
{'name': 'Somsri Jaidee', 'tel': '02-218-9999', 'DOB': '01-07-1990'}

In [34]:
# Using del to delete the whole Dict
del customer

NameError: name 'customer' is not defined

In [33]:
print(customer)

NameError: name 'customer' is not defined

- `pop()` method deletes the **item** with the specified **key** name, and return the **value**.

In [35]:
print(dbook_info)

{'title': 'Python Basics', 'price': 39.99, 'year': 2021, 'authors': ('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler')}

In [36]:
p = dbook_info.pop('price')
print(p)

39.99

In [37]:
print(dbook_info)

{'title': 'Python Basics', 'year': 2021, 'authors': ('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler')}

In [38]:
p = dbook_info.pop('price') # Error if no key exist

KeyError: 'price'

- popitem() method deletes the **last item** (key, value) pair from the dictionary. (LIFO)

In [39]:
i = dbook_info.popitem()
print (i)

('authors', ('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler'))

- clear() method deletes **all items** from the dictionary.

In [41]:
dbook_info.clear()

In [42]:
print(dbook_info)

{}

## Iterating through Dictionary

- wecanuse for loop to iterate through dictionaries.

In [43]:
sport = dict(soccer=11, rugby=15, volleyball=6, basketball=5, polo=4, softball=9)
print (sport)

{'soccer': 11, 'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4, 'softball': 9}

In [47]:
# loop by keys

for i in sport.keys():
    print(i)

soccer
rugby
volleyball
basketball
polo
softball

In [48]:
for i in sport:
	print(i)

soccer
rugby
volleyball
basketball
polo
softball

In [49]:
# Loop by Values

for i in sport.values():
   	print(i)

11
15
6
5
4
9

In [50]:
for i in sport:
	print (sport[i])

11
15
6
5
4
9

In [51]:
# Loop by item (key-value)

for i in sport.items():
	print(i)

('soccer', 11)
('rugby', 15)
('volleyball', 6)
('basketball', 5)
('polo', 4)
('softball', 9)

In [52]:
for s, p in sport.items():
	print(s, p)

soccer 11
rugby 15
volleyball 6
basketball 5
polo 4
softball 9

## Cloning or copying Dictionary

1. `copy()` method copies a dictionary.
2. `dict()` function can be used to copyig a dictionary.

In [53]:
a = sport.copy()
print(a)

{'soccer': 11, 'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4, 'softball': 9}

In [54]:
a.popitem()

('softball', 9)

In [55]:
print(a)

{'soccer': 11, 'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4}

In [56]:
print(sport)

{'soccer': 11, 'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4, 'softball': 9}

In [57]:
b = dict(sport)

In [58]:
print(b)

{'soccer': 11, 'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4, 'softball': 9}

In [59]:
del b ['soccer']

In [60]:
print(b)

{'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4, 'softball': 9}

## Nested Dictionary

In [62]:
kids = {1 : {'name':'Poom', 'age':10},
	   2 : {'name':'Pao', 'age':9},
	   3 : {'name':'Put', 'age':7},
       }

In [63]:
print(kids)

{1: {'name': 'Poom', 'age': 10}, 2: {'name': 'Pao', 'age': 9}, 3: {'name': 'Put', 'age': 7}}

![dict](https://sv1.picz.in.th/images/2023/05/21/FgUJwl.png)