## SET

- Sets are another data type in Python, storing **unordered** and **no duplicate** value items.

### Creating Set

- Sets can be created using curly brackets (braces) `{ }` , like dictionaries. Each item is separated by , ;
- Sets can be created using `set()` function.

In [1]:
# Create a set using curly brackets.
sport = {'rugby', 'soccer', 'basketball', 'volleyball', 'softball', 'rugby'}

print(type(sport))
print (sport)

<class 'set'>
{'volleyball', 'basketball', 'soccer', 'softball', 'rugby'}

In [2]:
 len(sport)

5

In [3]:
s ={}
print(type(s))
print(s)

<class 'dict'>
{}

- Sets can be created using set() function.

		s = set(<iterable object>)

In [7]:
s = set()

print(s)
print (type(s) )

set()
<class 'set'>

In [8]:
s = set([1])
print(s)

{1}

In [9]:
s = set('abc')

In [10]:
print(s)

{'b', 'a', 'c'}

In [11]:
s = set({1:'x', 2:'y'})
print(s)

{1, 2}

## Set operators

![figure: Set operations. ](https://www.learnbyexample.org/wp-content/uploads/python/Python-Set-Operatioons.png)

In [12]:
dad_sport = {'soccer', 'baseball', 'basketball', 'tennis'}
mom_sport = {'basketball', 'volleyball', 'tennis', 'rowing'}
kid_sport = {'soccer', 'tennis', 'swimming'}

<img src="https://www.shutterstock.com/image-vector/venn-diagram-widely-used-style-260nw-2247152659.jpg" alt="Set union" style="width: 500px;"/>

- Set **union** returns a new set with distinct items from all the given sets.
		
        1. Using `|` operator.
		1. Using `union()` method.

In [13]:
# Using | operator to union 2 set operands.
dad_sport | mom_sport

{'baseball', 'basketball', 'rowing', 'soccer', 'tennis', 'volleyball'}

In [14]:
# Using union() method with iterable object(s) as the argument.
dad_sport.union(mom_sport )

{'baseball', 'basketball', 'rowing', 'soccer', 'tennis', 'volleyball'}

In [15]:
dad_sport.union(mom_sport, kid_sport)

{'baseball',
 'basketball',
 'rowing',
 'soccer',
 'swimming',
 'tennis',
 'volleyball'}

### Set intersection returns a new set with common items from all the given sets.

	1. Using & operator.
	2. Using intersection() method.

In [16]:
dad_sport & mom_sport

{'basketball', 'tennis'}

In [17]:
dad_sport & mom_sport & kid_sport

{'tennis'}

In [18]:
uncle_sport = {'golf'}

In [19]:
dad_sport & mom_sport & kid_sport & uncle_sport

set()

<img srce="https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.pinterest.com%2Fpin%2F800444533746388265%2F&psig=AOvVaw14Hj5uEcnWD-p16a3iSb1r&ust=1684387676980000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCOjeppzP-_4CFQAAAAAdAAAAABAD" alt="Set difference" style="width: 300px;"/>

- Set **difference** returns a new set with all items in the given set but not in the other sets.
    1. operator.
	1. Using `difference()` method.

In [20]:
dad_sport - mom_sport

{'baseball', 'soccer'}

In [21]:
kid_sport.difference(mom_sport, dad_sport)

{'swimming'}

- Set symmetric differrence returns a new set of all items in either in A or B, but not both.

		1.Using * operator.
		2.Using symmetric difference() method.

In [22]:
dad_sport ^ mom_sport

{'baseball', 'rowing', 'soccer', 'volleyball'}

In [23]:
dad_sport.symmetric_difference(uncle_sport)

{'baseball', 'basketball', 'golf', 'soccer', 'tennis'}

In [24]:
dad_sport | uncle_sport

{'baseball', 'basketball', 'golf', 'soccer', 'tennis'}

## Adding, updating, and deleting items in a set.

- Sets are a mutable collection of distinct immutable values that are unordered.

- add`(<immutable object>)` method adds a single object to the set

![figure: Set operations. ](https://cdn.educba.com/academy/wp-content/uploads/2019/11/Python-Sets.png)

In [25]:
a= {1,2,3}
b= {3,4,5}
a.add(4)

In [26]:
print(a)

{1, 2, 3, 4}

In [27]:
a.add(4)

In [28]:
print(a)

{1, 2, 3, 4}

- update`(<iterable object>)` method updates the set, adding items from other iterables.

In [29]:
a.update(b)

In [30]:
print(a)

{1, 2, 3, 4, 5}

In [31]:
a.update([5,6,7], 'xyz')

In [32]:
print(a)

{'z', 1, 2, 3, 4, 5, 6, 7, 'y', 'x'}

In [33]:
a = {1,2,3}

In [34]:
b = {3,4,5}

In [35]:
print(a)

{1, 2, 3}

In [36]:
print(b)

{3, 4, 5}

In [37]:
a |= b

In [38]:
print(a)

{1, 2, 3, 4, 5}

- `remove(<item>)` method removes an item from the set. Errpr is raised if the item is not in the set.

In [39]:
a.remove(5)

In [40]:
print(a)

{1, 2, 3, 4}

In [41]:
a.remove(5)

KeyError: 5

- `discard(<item>)` method removes from the set. No exception throws if the item is not in the set.

In [42]:
a.discard(4)

In [43]:
print(a)

{1, 2, 3}

In [44]:
a.discard(4)

In [45]:
print(a)

{1, 2, 3}

- `pop()` method deletes and returns a random item from the set. If the set is empty, Error is raised.

In [46]:
a.pop()

1

In [47]:
print(a)

{2, 3}

In [48]:
a.pop()

2

In [49]:
print(a)

{3}

In [50]:
a.pop()

3

In [51]:
print(a)

set()

In [52]:
a.pop()

KeyError: 'pop from an empty set'

- `clear()` method deletes all items from the set.

In [53]:
print(b)

{3, 4, 5}

In [54]:
b.clear()

In [55]:
print(b)

set()

## Testing on sets

- Membership testing

In [56]:
a= {1,2,3}
b= {3,4,5}

In [57]:
3 in a

True

In [58]:
10 in b

False

In [59]:
5 in b

True

	Determines whether or not two sets have any items in common.
		`isdisjoint()` method returns True if both sets have no items in common.

In [60]:
a.isdisjoint(b)

False

In [61]:
a.discard(3)

In [62]:
a.isdisjoint(b)

True

Determin whether one set is a subset of the other.
- `sl.issubset(s2)` method returns `True` if `sl` is a subset of `s2`.
- `s1 <= s2`

In [63]:
a<=b

False

In [64]:
c = {1,2,3}

In [65]:
a <= c

True

In [66]:
a <= a

True

Determines whether one set is a proper subset of the other.
- `sl <s2>` returns `True` if `s1` is a proper subset of `s2`.

In [67]:
a < a

False

In [68]:
a < c

True

Determiile whether one set is a superset of the other.
- `s1.issuperset(s2)` return `True` if `sl` is a superset of `s2`.
- `s1 >= s2`

In [69]:
c >= a

True

Determines whether one set is a proper superset of the other.

- s1 > s2

In [70]:
c > c

False

In [71]:
c > a

True

## Iterating through Set

- we can use for loop to iterate through sets.

In [72]:
print(dad_sport)

{'soccer', 'baseball', 'basketball', 'tennis'}

In [73]:
for i in dad_sport:
    print(i)

soccer
baseball
basketball
tennis

In [75]:
for i in enumerate(dad_sport):
    print(i)

(0, 'soccer')
(1, 'baseball')
(2, 'basketball')
(3, 'tennis')