In [1]:
import random

random. randint(1,10)

8

In [1]:
import random

random. randint(1,100)

68

In [2]:
x = 2
y = 4
y /= x
print(y)

2.0

In [4]:
x = 4 + - 1 * 4 / 2 ** 2
print(x)

3.0

In [8]:
a = 4.0 + 4.0 
b=4.0 + 4.5 
c=3 + 4.0 
d=3 + 4.0
print(a,b,c,d)

8.0 8.5 7.0 7.0

In [9]:
print(type(a))

<class 'float'>

In [11]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [12]:
print(type("34" + 3))

TypeError: can only concatenate str (not "int") to str

In [14]:
x = "34" + 3
print(x)

TypeError: can only concatenate str (not "int") to str

In [15]:
x = 0
for i in range(1,1000,2):
    if i%2 == 0:
        x += i

In [16]:
print(x)

0

In [17]:
x = 1
y = 1000
while x <= y:
    if abs(x-y) > 500:
        y = 100
        continue
    elif abs(x-y) > 10:
        y = 5
        continue
    else:
        y -= 1
    x += 1
print(x)

4

In [18]:
 t1 = tuple('1234')

In [19]:
print(t1)

('1', '2', '3', '4')

In [1]:
coor = [(1,2),(2,4),(3,6),(4,9)]
print(list(map(lambda i: i[1]==2*i[0] ,coor)))

[True, True, True, False]

In [3]:
import numpy as np
x = np.array([10,20, 30, 40, 50, 60, 70, 80.0])
print(x)

ModuleNotFoundError: No module named 'numpy'